body{
background:#f5f7fa;
font-family:Arial;
}

.navbar{
background:rgb(173,212,252);
}

.status-card{
background:white;
padding:25px;
border-radius:10px;
box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.label{
font-size:18px;
}

.value{
font-size:32px;
font-weight:bold;
}

.temp{
color:red;
}

#map{
height:400px;
width:100%;
border-radius:10px;
}

canvas{
max-height:300px;
}


